body {
  position: relative;
  background-image: url('Bkgrnd1.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}

.playbutton {
  position: absolute;
  left: 200px;  /* distance from the left edge of the page */
  top: 0px;   /* distance from the top edge of the page */
}
